<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">BARS Assessment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav mr-auto">
                {% block left_menu %}

                {% endblock %}
            </ul>
            <ul class="navbar-nav">
                {% block right_menu %}
                    <li class="nav-item">
                        <a class="nav-link {% if active == 'login' %}active{% endif %}"
                           href="{% url 'login' %}">Вход</a>
                    </li>
                {% endblock %}
            </ul>
        </div>

    </nav>
</header>
