$gray-100: #F4F6F9;
$gray-500: #AEB4BB;
$gray-300: #DCDEE1;
$gray-600: #66717F;
$gray-900: #1D2734;
$blue: #5585B5;
$red: #F27171;
$yellow: #F2D30C;
$green: #A1C527;
$teal: #BBE4EA;
$cyan: #52A8B6;
$primary: $cyan;
$secondary: $gray-300;
$info: $teal;
$dark: $gray-900;
$body-bg: $gray-100;
$font-family-sans-serif: "Open Sans", "Noto Sans", sans-serif;
$headings-font-family: "Fira Sans", $font-family-sans-serif;
$font-weight-normal: 600;
$yiq-contrasted-threshold: 170;
$enable-rounded: false;
$enable-gradients: true;
